{% extends 'base.html' %}
{% block content %}

<h1>Client Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <p>Name: {{ client.name }}</p>
                <p>Title: {{ client.title }}</p>

                <div class="card-action">
                    <a href="{% url 'clients_update' client.id %}">Edit</a>
                    <a href="{% url 'clients_delete' client.id %}">Delete</a>
                  </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}