{% extends 'base.html' %} {% block content %}

<div class="col">
  <div class="col s12 m6">
    <div class="card light-blue darken-4">
      <div class="card-content white-text">
        <span class="card-title">{{ client.name }}</span>
        <p>Title: {{ client.title }}</p>
        {% if client.skills.count %} {% for skill in client.skills.all %}
        <a class="waves-effect waves-light btn light-blue darken-1">
          {{ skill.name }}
        </a>
        {% endfor %} {% else %}
        <h5>No Skills Added</h5>
        {% endif %}

        <div class="card-action">
          <a href="{% url 'clients_update' client.id %}">Edit</a>
          <a href="{% url 'clients_delete' client.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Insert photo markup below this comment -->
{% for photo in client.photo_set.all %}
  <a class="responsive-img card-panel" href="{{photo.url}}">Resume</a>
{% empty %}
  <div class="card-panel teal-text center-align">No Resume Uploaded</div>
{% endfor %}

<!-- new code below -->
<form action="{% url 'add_photo' client.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn light-blue darken-4" value="Upload Photo">
</form>

  <hr />

  <div class="col">
    <div class="col s12 m6">
      <div class="card light-blue darken-4">
        <div class="card-content white-text">
          <span class="card-title">Add Skills</span>
          {% if skills.count %} {% for skill in skills.all %}
          <form
            action="{% url 'assoc_skill' client.id skill.id %}"
            method="post"
          >
            {% csrf_token %}
            <button
              type="submit"
              class="waves-effect waves-light btn light-blue darken-1"
            >
              {{ skill.name }}
            </button>
          </form>
          {% endfor %} {% else %}
          <p>
            Wow! {{client.name}} sure is smart! They already have all skills
            available.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="card light-blue darken-4">
    <div class="card-content white-text">
      <span class="card-title">Add a Job</span>
      <form
        class="job-form"
        action="{% url 'add_application' client.id %}"
        method="post"
      >
        {% csrf_token %} {{ application_form.as_p }}
        <input type="submit" class="btn light-blue darken-1" value="Add Job" />
      </form>
      <table class="highlight">
        <thead>
          <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Date Applied</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for application in client.application_set.all %}
          <tr>
            <td>{{application.title}}</td>
            <td>{{application.company}}</td>
            <td>{{application.dateApplied}}</td>
            <td>{{application.link}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <hr />

  <script>
    var dateEl = document.getElementById("id_dateApplied");
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });

    var selectEl = document.getElementById("id_status");
    M.FormSelect.init(selectEl);
  </script>

  {% endblock %}
</div>
