{% extends 'base.html' %}
{% block content %}

<h1>Client Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <p>Name: {{ client.name }}</p>
                <p>Title: {{ client.title }}</p>

                <div class="card-action">
                    <a href="{% url 'clients_update' client.id %}">Edit</a>
                    <a href="{% url 'clients_delete' client.id %}">Delete</a>
                  </div>

            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_application' client.id %}" method="post">
            {% csrf_token %}
            {{ application_form.as_p }}
            <input type="submit" class="btn" value="Add Job">
          </form>
        <table class="striped">
          <thead>
            <tr><th>Status</th><th>Title</th><th>Company</th><th>Date Applied</th><th>Link</th></tr>
          </thead>
          <tbody>
            {% for application in client.application_set.all %}
              <tr>
                <td>{{application.get_status_display}}</td>
                <td>{{application.title}}</td>
                <td>{{application.company}}</td>
                <td>{{application.dateApplied}}</td>
                <td>{{application.link}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ client.name }}'s Skills</h3>
    {% if client.skills.count %}
      {% for skill in client.skills.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
             {{ skill.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Skills Added</h5>
    {% endif %}
  </div>
  </div>

<script>
var dateEl = document.getElementById('id_dateApplied');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}