{% extends 'base.html' %}
{% block content %}

<h3>About Coach.</h3>
<hr />
<p>Coach. is an app that was designed to help Career Coaches keep track of their client base using a simple user interface. Career Coaches can use Coach. to track their clients and easily add new clients, track which skills a client has, update the universal skill list, and even save a resume to a client's profile. 
<br>
<br>
Career Coaches can also manually add in jobs that their clients have applied to, noting the date of application, the job title and company, and a link to the company site.
<br>
<br>
To get started, click on the "My Clients" tab in the navigation bar and add your client. Once a client has been added, you are free to update their skills and upload a resume, as well as begin listing their job applications.
<br>
<br>
If you do not see a skill listed on the universal skills list ("Skills" in the navigation bar), we encourage you to add it!
<br>
<br>
Welcome to Coach.!
</p>


{% endblock %}